<title-div></title-div>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide blue-slide">slider1</div>
        <div class="swiper-slide red-slide">slider2</div>
        <div class="swiper-slide orange-slide">slider3</div>
    </div>
</div>

<p>This is the partial for view 1.</p>
<b>Invoice:</b>
<br>
<br>
<table>
    <tr><td >Quantity</td><td>Cost</td></tr>
    <tr>
        <td><input type="integer" min="0" ng-model="qty" required ></td>
        <td><input type="number" ng-model="cost" required ></td>
    </tr>
</table>
<runoob-directive></runoob-directive>
<my-dctv >
    {{msg | myUpperFilter }}
</my-dctv >
<h5>{{ clock }}</h5>
<button ng-click="test()">隐藏/显示</button>
<div  ng-init="points=[1,15,13,9,2,40,22,78]">

    <p>第三个值为 {{ points[2] }}</p>
    <p>使用 ng-repeat 来循环数组</p>
    <p>使用 ng-repeat 来循环数组</p>
    <ul>
        <li ng-repeat="x in points">
            {{ x }}
        </li>
    </ul>
</div>

<form ng-app="" name="myForm">
    Email:
    <input type="email" name="myAddress" ng-model="text">
    <span ng-show="myForm.myAddress.$error.email">不是一个合法的邮箱地址</span>
</form>
<input name="myName" ng-model="myText" required>
<ul>
    <li ng-repeat="x in names">{{x.ransomAmount}}
        {{x.ransomDate}}
        {{x.ransomId}}
        {{x.ransomStatusDesc}}
    </li>
</ul>
<hr>
<b>Total:</b> {{qty * cost | currency}}
